header img{
  float: left;
  margin: 20px;
  height: 75px;
  width: 75px;
}

header h1{
  float: left;
  margin: 20px;
}

.headerBox{
  height: 75px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 1px solid grey;
  display: inline-block;
  text-align: center;
  background-color: lightgrey;
}

.headerBox:hover{
  cursor: pointer;
}

.headerBox > p {
  font-size: 20px;
  margin-top: 20px;
}

.login{
  margin-top: 20px;
  float: right;
}
